body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #66BFBF;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px 0 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

p {
  font-family: "Montserrat", sans-serif;
}

hr {
  border-style: dotted;
  border-bottom-style: none;
  border-color: #EAF6F6;
  border-width: 5px;
  margin: 70px auto 70px auto;

  height: 0;
  width: 10%;
}

.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #E4F9F5;
}

.selfie {
  width: 200px;
  margin-top: 30px;
}

.pro {
  text-decoration: underline;
  margin: auto;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 150px;
  bottom: 300px;
}

.middle-container {
  width: 50%;
  margin: 0 auto 0 auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.program-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.idea-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px 0;
}

.contact-me {
  margin-bottom: 100px;
}

.copyright {
  margin-bottom: 20px;
}

.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Helvetica;
   font-size: 19px;
   font-weight: 400;
   padding: 16px;
   background-color: #11999E;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-top: 30px;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #EAF6F6;
   background-image: -webkit-linear-gradient(top, #EAF6F6, #EAF6F6);
   background-image: -moz-linear-gradient(top, #EAF6F6, #EAF6F6);
   background-image: -ms-linear-gradient(top, #EAF6F6, #EAF6F6);
   background-image: -o-linear-gradient(top, #EAF6F6, #EAF6F6);
   background-image: -webkit-gradient(to bottom, #EAF6F6, #EAF6F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
   color: #11999E;
}
